html, body {
  height: 100%;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: .5rem 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h2 {
  margin: 0;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3.5rem;
}

@media (max-width: 1190px) {
  .columns {
    grid-template-columns: 1fr;
  }
}

article {
  margin-bottom: 2rem;
}

.input {
  margin-bottom: 1.5rem;
}

.input input, .input select {
  display: block;
  width: 100%;
  padding: .475rem .65rem;
  font-size: .85rem;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
}

.select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2rem;
}
.select-wrapper {
  position: relative;
  width: 100%;
}
.select-wrapper::after {
  content: "▼";
  position: absolute;
  right: .6rem;
  top: .7rem;
  font-size: .75rem;
}

.input label {
  font-size: .85rem;
}

.input > label {
  display: block;
  margin-bottom: .35rem;
  font-weight: 600;
}

.grouped {
  display: flex;
  align-items: center;
}

.grouped > *:not(:last-child) {
  margin-right: .5rem;
}

input[type="checkbox"] {
  margin-top: .75rem;
  margin-left: 0;
  width: unset;
  display: inline-block;
}

input[type="number"] {
  width: unset;
  max-width: 5rem;
}

input[type="color"] {
  width: 1.6rem;
  height: 1.6rem;
  border-left: none;
  padding: .3rem;
  cursor: pointer;
  box-sizing: content-box;
}

textarea {
  display: block;
  width: 100%;
  border: 1px #ccc solid;
  padding: .75rem;
  line-height: 1.3;
  font-size: .85rem;
  box-sizing: border-box;
  font-family: monospace;
}

button {
  background: #f2f2f2;
  padding: .3rem 1rem;
  border: #ccc 1px solid;
  border-radius: 3px;
  font-size: .85rem;
  transition: background-color .2s ease;
  cursor: pointer;
}

button.secondary {
  background: #fff;
}

button:hover {
  background: #e2e2e2;
}

.tabs {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px #ccc solid;
  font-size: .85rem;
}
.tabs > span {
  color: #888;
  padding: .75rem;
  cursor: pointer;
}
.tabs > span.active {
  color: #000;
  border-bottom: #000 1px solid;
}
.tabs > span:hover {
  color: #000;
}

.tab-content > div {
  display: none;
  margin-bottom: 1rem;
}
.tab-content > .active {
  display: block;
}
.tab-content input[type="text"] {
  max-width: 10rem;
}
.tab-content input[type="number"] {
  max-width: 4rem;
}

/* fix margins for color picker */
.grouped.color-picker > * {
  margin-right: 0;
}

/* fix margins for conditionally rendered count input for "Displayed Entries" */
.select-wrapper {
  margin-right: 0 !important;
}
#entries-count {
  margin-left: .75rem;
}

/* fixes for grouped checkboxes */
.checkboxes {
  flex-wrap: wrap;
}

/* add bottom margins to layout style and rules */
#layout-styles > *, .tab-content > div > * {
  margin-bottom: .75rem;
}
.input > button {
  margin-top: 1rem;
}

/* bottom controls */
#bottom-controls {
  border-top: 2px #f2f2f2 solid;
  padding: 1.5rem 0;
}
#bottom-controls .header {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
#bottom-controls > button {
  padding: .75rem 1.5rem;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}
.modal-content {
  z-index: 2;
  margin: 5rem;
  padding: 2rem;
  background: #fff;
}
.modal-content .header {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.modal-content .close {
  font-size: 2rem;
  cursor: pointer;
}
.modal-content textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
.modal-content .error {
  color: #911800;
  display: none;
  margin-bottom: 1rem;
  font-size: .85rem;
}
